body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  background: #fff;
  padding: 1rem;
}

.header-bar {
  max-width: 1400px;
  margin: 0 auto;
  background: linear-gradient(0deg, #272727, #555);
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bar a {
  color: inherit;
  text-decoration: none;
}

.header-bar .logo {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #00ffb8;
  margin: 0;
  padding: 1rem 1.5rem;
}

.navigation ol {
  list-style: none outside;
  padding: 0 1rem 0 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation li a {
  color: #b7b7b7;
  font-size: 1rem;
  line-height: 1.25rem;
  transition: color 0.2s ease;
  display: block;
  padding: 0.5rem 0.75rem;
}

.navigation li a:hover {
  color: #0af;
}

.navigation li a.is-active {
  color: #fff;
}


.main {
  background: #fff;
}

.main .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}


.footer {
  padding: 1rem;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.footer h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.footer .attribution {
  font-size: 0.7em;
  opacity: 0.7;
}